<div class="footer">
  <div class="box-container">

    <div class="box">
      <h3>about us</h3>
      <p>Inetum est une ESN agile,<br> une société de services et de solutions digitales,<br>et un groupe
        international qui aide les entreprises et<br> institutions à tirer le meilleur du digital flow.</p>
    </div>


    <div class="box">
      <h3>contact info</h3>
      <div class="info">
        <i class="fas fa-phone"></i>
        <p> +216-70-016-220  </p>
      </div>
      <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <p> Imm. Horizon، Avenue De La Bourse، Tunis 1053</p>
      </div>
    </div>

  </div>

  <h1 class="credit"> &copy; copyright @ 2021 by DAOUD Najla </h1>

</div>

<!-- footer section ends -->
