
<div class="login" >
  <div class="form-box">
<div class="button-box">
  <div id="btn"></div>
  <button type="button" class="toggle-btn" >LogIn</button>
  <button type="button" class="toggle-btn"(click)="regiterpage()">Register</button>
</div>    <div class="social-icons">
      <img src="assets/images/fb.png">
      <img src="assets/images/google.png">

    </div>
    <form  id="login" class="input-group">
      <input type="text" class="input-field" placeholder="email" required>
      <input type="text" class="input-field" placeholder="mot de passe" required>
      <input type="checkbox" class="check-box">
      <span>Remember Password</span>
      <button type="submit" class="submit-btn">Login</button>
    </form>

  </div>


</div>


